services:
  adminer:
    image: adminer
    container_name: adminer
    ports:
      - '8081:8080'
    networks:
      - auth-network
    depends_on:
      postgres: { condition: service_healthy }
      charly.db: { condition: service_healthy }

  # --- Base de données pour Keycloak ---
  postgres:
    image: postgres:15
    container_name: postgres-keycloak
    env_file: charly.env
    networks:
      - auth-network
    environment:
      - POSTGRES_DB=${KC_DB_NAME:-keycloak}
      - POSTGRES_USER=${KC_DB_USER:-keycloak}
      - POSTGRES_PASSWORD=${KC_DB_PASS:-password}
    ports:
      - "${KC_DB_PORT_EXTERNAL:-5433}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 3s
      timeout: 3s
      retries: 5

  charly.db:
    image: postgres:latest
    container_name: postgres-app
    env_file: charly.env
    ports:
      - "${APP_DB_PORT_EXTERNAL:-5432}:5432"
    networks:
      - auth-network
    environment:
      - POSTGRES_DB=${APP_DB_NAME:-charly}
      - POSTGRES_USER=${APP_DB_USER:-charly}
      - POSTGRES_PASSWORD=${APP_DB_PASS:-test}
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 3s
      timeout: 3s
      retries: 5

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    env_file: charly.env
    networks:
      - auth-network
    command: start-dev --http-enabled=true --hostname-strict=false
    ports:
      - "8080:8080"
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=${KC_BOOTSTRAP_ADMIN_USERNAME:-admin}
      - KC_BOOTSTRAP_ADMIN_PASSWORD=${KC_BOOTSTRAP_ADMIN_PASSWORD:-admin}
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://postgres:5432/${KC_DB_NAME:-keycloak}
      - KC_DB_USERNAME=${KC_DB_USER:-keycloak}
      - KC_DB_PASSWORD=${KC_DB_PASS:-password}
      - KC_HEALTH_ENABLED=true
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
          # On demande à Keycloak son propre état de santé via son interface CLI interne
          test: ["CMD", "/opt/keycloak/bin/kcadm.sh", "config", "credentials", "--server", "http://localhost:8080", "--realm", "master", "--user", "${KC_BOOTSTRAP_ADMIN_USERNAME:-admin}", "--password", "${KC_BOOTSTRAP_ADMIN_PASSWORD:-admin}"]
          # OU encore plus simple pour juste vérifier que le port répond :
          # test: ["CMD-SHELL", "timeout 1s bash -c ':> /dev/tcp/127.0.0.1/8080' || exit 1"]
          interval: 10s
          timeout: 5s
          retries: 5

  keycloak-config-cli:
    image: adorsys/keycloak-config-cli:latest
    container_name: keycloak-config-cli
    env_file: charly.env
    networks:
      - auth-network
    environment:
      - KEYCLOAK_URL=http://keycloak:8080
      - KEYCLOAK_USER=${KC_BOOTSTRAP_ADMIN_USERNAME:-admin}
      - KEYCLOAK_PASSWORD=${KC_BOOTSTRAP_ADMIN_PASSWORD:-admin}
      - IMPORT_FILES_LOCATIONS=/config/realm-config.yaml
    volumes:
      - ./config:/config:ro
    depends_on:
      - keycloak

  # --- Service Front ---
  front-charly:
    image: node:20-alpine
    env_file: charly.env
    ports:
      - '48210:5173'
    volumes:
      - ./front.charly:/app
      - front-node_modules:/app/node_modules 
    working_dir: /app
    networks:
      - auth-network
    depends_on:
      - php-app
    command: sh -c "npm install && npm run dev"
    restart: unless-stopped

  # --- Application PHP ---
  php-app:
    build:
      context: build
      dockerfile: 8.4-cli.Dockerfile
    env_file: charly.env
    ports:
      - '8000:80'
    volumes:
      - ./app-php/app:/var/php
    working_dir: /var/php
    networks:
      - auth-network
    depends_on:
      - charly.db
    command: sh -c "composer install && php -S 0.0.0.0:80 -t /var/php/public"



networks:
  auth-network:
    driver: bridge

volumes:
  postgres_data:
  front-node_modules:
  # front-node_modules: