realm: "myrealm"
enabled: true

# --- Section Clients (Redirection Standard) ---
clients:
  - clientId: "php-app-client"
    enabled: true
    protocol: "openid-connect"
    publicClient: true
    standardFlowEnabled: true
    directAccessGrantsEnabled: true
    rootUrl: "http://localhost:8000"
    baseUrl: "/"
    redirectUris:
      - "http://localhost:8000/*"
    webOrigins:
      - "+"

# --- Section User Federation (LLDAP Read-Only) ---
components:
  org.keycloak.storage.UserStorageProvider:
    - name: "lldap-service"
      providerId: "ldap"
      subComponents:
        org.keycloak.storage.ldap.mappers.LDAPStorageMapper:
          - name: "email-mapper"
            providerId: "user-attribute-ldap-mapper"
            config:
              ldap.attribute: ["mail"]
              is.mandatory.in.ldap: ["true"]
              always.read.value.from.ldap: ["true"]
              user.model.attribute: ["email"]
          - name: "last-name-mapper"
            providerId: "user-attribute-ldap-mapper"
            config:
              ldap.attribute: ["sn"]
              is.mandatory.in.ldap: ["true"]
              always.read.value.from.ldap: ["true"]
              user.model.attribute: ["lastName"]
          - name: "first-name-mapper"
            providerId: "user-attribute-ldap-mapper"
            config:
              ldap.attribute: ["givenName"]
              is.mandatory.in.ldap: ["true"]
              always.read.value.from.ldap: ["true"]
              user.model.attribute: ["firstName"]
      config:
        priority: ["0"]
        editMode: ["READ_ONLY"]
        syncRegistrations: ["false"]
        vendor: ["other"]
        usernameLDAPAttribute: ["uid"]
        rdnLDAPAttribute: ["uid"]
        uuidLDAPAttribute: ["entryUUID"]
        userObjectClasses: ["inetOrgPerson", "organizationalPerson", "person"]
        connectionUrl: ["ldap://lldap:3890"]
        usersDn: ["ou=people,dc=example,dc=com"]
        authType: ["simple"]
        bindDn: ["uid=admin,ou=people,dc=example,dc=com"]
        bindCredential: ["admin_password"]
        pagination: ["true"]
        useTruststoreSpi: ["ldapsOnly"]
        connectionTimeout: ["5000"]
